.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  padding: 5px;
  height: 100vh;
  box-sizing: border-box;
}

.section {
  background-color: #121212;
  border-radius: 25px;
  padding: 20px;
  color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.red { border: 3px solid red; }
.blue { border: 3px solid deepskyblue; }
.white { border: 3px solid white; }
.yellow { border: 3px solid yellow; }

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

.register-form-container {
  background-color: #0f111a;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.register-form-container h2 {
  text-align: center;
  color: #ffffff;
  font-size: 1.5rem;
}

.form-row {
  display: flex;
  gap: 16px;
  flex-wrap: wrap; 
  justify-content: space-between;
}

.form-group {
  flex: 1;
  min-width: 150px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  color: #cccccc;
  font-weight: 500;
  margin-bottom: 4px;
}

.form-group input {
  background-color: #1e2235;
  border: none;
  border-radius: 8px;
  padding: 10px;
  color: white;
  font-size: 1rem;
  outline: none;
}


.register-form-container button {
  margin-top: 20px;
  background-color: #6c63ff;
  border: none;
  border-radius: 8px;
  padding: 12px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.register-form-container button:hover {
  background-color: #5750d3;
}